<?php /* textarea */ ?>
<settings>
	<attributes>
		<items>
			<rows>
				<select_num>
					<text>rows=</text>
					<min>1</min>
					<max>30</max>
					<default>5</default>
				</select_num>
			</rows>
			<cols>
				<select_num>
					<text>cols=</text>
					<min>1</min>
					<max>100</max>
					<default>40</default>
				</select_num>
			</cols>
		</items>
		<items>
			<class><text></text></class>
		</items>
		<items>
			<style><text></text></style>
		</items>
		<items>
			<is>
				<is>
					<values><![CDATA[<?php echo serialize(array('disabled', 'readonly')); ?>]]></values>
					<disabled><![CDATA[<?php echo serialize( array() ); ?>]]></disabled>
				</is>
			</is>
		</items>
		<items>
			<misc><misc><![CDATA[<?php _e("other attributes except 'name' & 'id'", MP_TXTDOM); ?>]]></misc></misc>
		</items>
	</attributes>
	<controls>
		<items>
			<required>
				<checkbox>
					<text><![CDATA[<?php _e('Required', MP_TXTDOM); ?>]]></text>
					<value>1</value>
					<disabled>0</disabled>
					<class>controls</class>
				</checkbox>
			</required>
		</items>
	</controls>
	<options>
		<items>
			<tag_content>
				<textarea>
					<text><![CDATA[<?php _e('Initial value :', MP_TXTDOM); ?>]]></text>
				</textarea>
			</tag_content>
		</items>
<?php if ($this->field->form_incopy) : ?>
		<items>
			<incopy>
				<checkbox>
					<text><![CDATA[<?php _e('In copy', MP_TXTDOM); ?>]]></text>
					<value>1</value>
					<disabled>0</disabled>
				</checkbox>
			</incopy>
		</items>
<?php endif; ?>
	</options>
<?php if ($protected) : ?>
	<hiddens>
		<options>
			<protected></protected>
		</options>
	</hiddens>
<?php endif; ?>
	<tabs>
		<attributes><![CDATA[<?php _e('Attributes', MP_TXTDOM); ?>]]></attributes>
		<controls><![CDATA[<?php _e('Controls', MP_TXTDOM); ?>]]></controls>
		<options><![CDATA[<?php _e('Options', MP_TXTDOM); ?>]]></options>
	</tabs>
</settings>